@media (max-width:1150px) {
    .container.series{
        padding: 0 15px;
    }
    
    .nav-content{
        padding: 15px 15px;
    }
    
    .films-cards{
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
    }
    
    .col_blocks{
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    
    .series-boxes{
        flex-wrap: wrap;
        justify-content: center;
    }
    .series-boxes__small-boxes{
        justify-content: center;
    }
    
    .series_large-box{
        background-position: center;
    }
    
    .series-boxes__large-box{
        background-position: center;
    }
    .films {
        padding: 60px 15px 78px 15px;
    }
}

@media (max-width:650px) {
    .footer-content{
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
    
    .footer-content p{
        text-align: center;
    }
    
    .footer-content a{
        margin: 0;
    }
    
    .nav-content ul{
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        background: linear-gradient(90deg, rgba(131,58,180,0.6979166666666667) 0%, rgba(253,29,29,0.5466561624649859) 50%, rgba(252,176,69,0.742734593837535) 100%);
        z-index: 999;
        gap: 60px;
        transition: 500ms;
    }
    
    .nav-content ul a{
        font-size: 30px;
    }
    
    .burger{
        color: white;
        font-size: 40px;
        display: block;
        position: absolute;
        right: 5%;
        z-index: 1000;
    }
    
    .burger:hover ~ .nav-content__list{
        right: 0;
    }
   
}

@media (max-width:450px){
    .header-content h1{
        font-size: 40px;
    }
    
    .header-content__btns{
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .header-content{
        align-items: center;
        justify-content: center;
    }
    
    .widow img{
        width: 100%;
    }
    .logo img{
        width: 50%;
    }
    
    .col__block1{
        border-radius: 15px;
        background-position: center;
    }
    .col__block2{
        border-radius: 15px;
        background-position: center;
    }
    .col__block3{
        border-radius: 15px;
        background-position: center;
    }

    .nav-content ul a{
        font-size: 20px;
    }
    
  
}